<article class="<%= post.layout %>">
  <header>
    <% if (post.layout != 'page'){ %>
      <div class="icon"></div>
      <%- partial('post/date', { date_format: config.date_format }) %>
    <% } %>
    <%- partial('post/title') %>
  </header>
  <% if (post.photos && post.photos.length > 0){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="entry">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <footer<% if (index) { %> class="end-sep"<% } %>>
    <% if (index){ %>
      <% if (post.excerpt){ %>
        <div class="alignleft">
          <a href="<%- config.root %><%- post.path %>#more" class="more-link"><%= __('excerpt_title') %></a>
        </div>
      <% } %>

      <% if (post.comment && config.disqus_shortname){ %>
      <div class="alignright">
        <a href="<%- post.permalink %>#disqus_thread" class="comment-link">Comments</a>
      </div>
      <% } %>
    <% } else { %>
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
    <% } %>


<% if (!index && post.comments && config.duoshuo_shortname){ %>
  <section id="comments">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= post.layout %>-<%= post.slug %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= config.duoshuo_shortname %>'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
  </section>
  <% } %>



    <div class="clearfix"></div>
  </footer>
</article>

<%- partial('comment') %>
